html {
	scroll-behavior: smooth;
}
html,
body {
	height: 100%;
	min-height: 100%;
}
body {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

pre {
	color: $scheme-main;
	background: lighten($blue, 25%);
	border-radius: 4px;
}

option {
	&:disabled {
		color: $blue;
	}
}

.container {
	padding-left: 2rem;
	padding-right: 2rem;
}

.modal-close::before,
.delete::before,
.modal-close::after,
.delete::after {
	background-color: $white;
}

.b-table .table-wrapper.has-mobile-cards tr:not(.detail):not(.is-empty):not(.table-footer) td {
	border-color: lighten($blue, 10%);
}

.table thead tr th {
	background-color: rgba($table-head-background-color, 1);
	position: sticky;
	top: 0;
}

.button.is-small {
	font-size: 0.5rem;
	padding: 0.25em 1em 0.25em 1em;
}

#toTop {
	position: fixed;
	text-align: center;
	display: block;
	width: 100%;
	left: 0;
	transition: all ease-in-out 1.5s;
	&.hide {
		opacity: 0;
		bottom: -100%;
	}
	&.show {
		opacity: 1;
		bottom: 2rem;
	}
	a {
		background-color: $theme-dark;
		display: inline-block;
		padding: 1rem;
		border-radius: 50%;
		border: 2px solid $blue;
		width: 60px;
		height: 60px;
		cursor: pointer;
		transition: color ease-in-out 0.3s, border-color ease-in-out 0.3s;
		&:hover,
		&:focus {
			color: $white;
			border-color: $white;
		}
		i {
			font-size: 1.5rem;
		}
	}
}

@media screen and (max-width: 1023px) {
	.table-wrapper {
		overflow-x: visible;
	}
}

@media (max-width: 768px) {
	.b-table .table-wrapper tbody {
		background: transparent;

		td {
			height: 42px;
		}
	}

	.b-table .table-wrapper.has-mobile-cards tr:not(:last-child) {
		margin-bottom: 2rem;
	}

	.table.is-striped tbody tr:not(.is-selected),
	.b-table .table-wrapper.has-mobile-cards tr:not([class*='is-']) {
		background: $table-body-background-color;
		border-radius: 4px;
		border: 1px solid lighten($blue, 10%);
	}

	.b-table .table-wrapper.has-mobile-cards tr:not(.detail):not(.is-empty):not(.table-footer) td {
		&:last-of-type {
			border: 0 none;
		}
	}

	.field:not(:last-child) {
		margin-bottom: 2rem;
	}

	.b-table .table-wrapper.has-mobile-cards tr:not(.detail):not(.is-empty):not(.table-footer) td:before {
		content: '';
		display: none;
	}
}
