table.table {
	th {
		&.country {
			width: 270px;
		}

		&.infections {
			width: 141px;
		}

		.deaths {
			width: 115px;
		}

		.population {
			width: 156px;
		}

		&.cfr {
			width: 131px;
		}

		&.ioannidis {
			width: 237px;
		}

		&.ifr {
			width: 164px;
		}
	}

	td {
		&:last-of-type {
			div.value {
				text-align: center;
			}
		}
	}

	button {
		margin-left: 0.75rem;
	}

	i.fa-check {
		color: $green;
	}

	i.fa-times {
		color: $red;
	}
}
