table.table {
	th {
		&:first-of-type {
			width: 310px;
		}

		&.ioannidis {
			width: 180px;
		}

		&:last-of-type {
			width: 207px;
		}
	}

	i.fa-check {
		color: $green;
	}

	i.fa-times {
		color: $red;
	}
}
