table.table {
	th {
		cursor: pointer;

		&.country {
			width: 270px;
		}

		&.infections {
			width: 141px;
		}

		.deaths {
			width: 115px;
		}

		.population {
			width: 156px;
		}

		&.cfr {
			width: 131px;
		}

		&.aboveIoannidis {
			width: 237px;
		}

		&.ifr {
			width: 164px;
		}

		>span:not(.active) {
			padding-right: 1.5rem;

			span.icon {
				display: none;
			}
		}

		span.icon {
			margin-left: 0.5rem
		}
	}

	td {
		&:last-of-type {
			div.value {
				text-align: center;
			}
		}
	}

	button {
		margin-left: 0.75rem;
	}

	i.fa-check {
		color: $green;
	}

	i.fa-times {
		color: $red;
	}
}
