$theme-dark: darken(#410dab, 30%);
$scheme-main: $theme-dark;
$scheme-main-bis: lighten($theme-dark, 2%);
$scheme-main-ter: lighten($theme-dark, 4%);
$scheme-invert: invert($theme-dark);
$scheme-invert-bis: darken($scheme-invert, 3%);
$scheme-invert-ter: darken($scheme-invert, 10%);
$grey: lighten($theme-dark, 48%);
$grey-light: lighten($grey, 10%);
$grey-lighter: lighten($grey, 18%);
$grey-lightest: lighten($grey, 26%);
$grey-dark: darken($grey, 20%);
$grey-darker: darken($grey, 45%);

$blue: lighten(#410dab, 30%);
$turquoise: $blue;
$green: #0dab76;
$red: #ac3931;
$white: #f2f4f3;

$family-sans-serif: 'Josefin Sans', sans-serif;
$text: $white;
$text-strong: $white;

$table-cell-border: 0;
$table-cell-border-width: 0;
$table-head-background-color: rgba(darken($blue, 60%), 0.33);
$table-row-hover-background-color: rgba(darken($blue, 50%), 0.33);
$table-striped-row-even-background-color: rgba(darken($blue, 50%), 0.33);
$table-striped-row-even-hover-background-color: rgba(darken($blue, 48%), 0.33);
$table-body-background-color: rgba(darken($blue, 46%), 0.33);

$modal-background-background-color: rgba(darken($blue, 60%), 0.86);

$box-background-color: $white;
$box-color: $scheme-main;
$box-padding: 2rem;

$content-blockquote-background-color: lighten($blue, 25%);
$content-blockquote-border-left: 5px solid $blue;
$content-blockquote-padding: 1.5rem;

$content-heading-color: $blue;
